
.AdBar {
}

.AdBar img {
  /* border: 15px solid rgb(227, 66, 39); */
  box-shadow: 1px 1px 4px gray;
  margin-top: 20px;
}

.AdBar img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 2px 10px gray;
}
